:root {
  --bg-gradient: linear-gradient(90deg, #abe1ff 0%, #c7a2ff 100%);
  --text-gradient: linear-gradient(90deg, #5bbff4 0%, #9c62da 100%);
  --card-opacity: 0.65;
  --border-radius: 12px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-weight: 400;
  font-family: 'DM Sans', sans-serif;
  display: block;
  scroll-behavior: smooth;
}

body {
  background: var(--bg-gradient);
  min-width: 100vw;
  min-height: 100vh;
  padding: 1.5rem;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

header {
  width: 100%;
}


nav {
  width: 100%;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav > * {
  text-align: center;
  font: inherit;
  padding: 0.75rem;
  border-radius: var(--border-radius);
  font-weight: 500;
}

body > section {
  width: 100%;
  border-radius: calc(var(--border-radius) * 2);
  padding: 1rem;
  overflow: hidden;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

#name {
  font-size: 2.75rem;
  background: var(--text-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-size: 1.75rem;
  font-weight: 500;
}

h3 {
  font-weight: 500;
}

img {
  object-fit: contain;
}

.profile-img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
  border: 12px solid transparent;
  box-shadow: 0 8px 30px 0 rgba(87, 41, 132, 0.15);

  background:
    var(--bg-gradient) padding-box,
    var(--bg-gradient) border-box;
}

#intro,
#intro-text-container {
  display: flex;
  flex-flow: column-reverse nowrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

#intro-text-container{
  flex-flow: column nowrap;
  text-align: center;
}

.skill-list,
.project-list,
.contact-list {
  display: grid;
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
}

.skill-list {
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.75rem;
}

.skill-card {
  max-width: 5rem;
  max-height: 100%;
  padding: 0.75rem;
  aspect-ratio: 1/1;
  border-radius: var(--border-radius);

  display: flex;
  align-items: center;
  justify-content: center;
}

.skill-card img {
  max-width: 100%;
  max-height: 100%;
  object-position: center;
  aspect-ratio: 1/1;
}

.project-list {
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
  grid-auto-rows: 1fr;
}

.project-card {
  max-width: 100%;
  max-height: 100%;
  padding: 1rem;
  border-radius: var(--border-radius);
}

.project-card a {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.project-card:hover {
  transform: scale(1.01);
  filter: brightness(1.05);
}

.project-tags li {
  border-radius: var(--border-radius);
  padding: 0.5em 0.75em;
  background-color: white;
}

.project-card img {
  max-width: 100%;
  max-height: 100%;
  object-position: center;
  border-radius: var(--border-radius);  

  border: 7px solid transparent;

  background:
    var(--bg-gradient) padding-box,
    var(--bg-gradient) border-box;
}

.project-card p {
  text-align: center;
}

.project-tags {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.glass {
  background: rgba(255, 255, 255, var(--card-opacity));
  backdrop-filter: blur(10px);
  border: 0.25px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 30px 0 rgba(87, 41, 132, 0.15);
}

.contact-list {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
}

.contact-card {
  border-radius: var(--border-radius);
  padding: 1em;
}

.contact-card a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.contact-card a:hover {
  background: var(--text-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer {
  padding-bottom: 2rem;
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width: 480px) {
  .contact-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (min-width : 600px) {
  .contact-list {
    grid-template-columns: repeat(4, 1fr);
  }

  .project-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .project-card {
    display: table;
    padding-inline: 1em;
    width: 100%;
    height: 100%;
  }

  #intro {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
  }

  #intro-text-container {
    flex-basis: 45%;
    justify-content: flex-start;
  }

  #intro-img-container {
    flex-basis: 35%;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  nav {
    justify-content: flex-end;
  }

  nav > * {
    text-align: center;
    font: inherit;
    border-radius: var(--border-radius);
    font-weight: 500;
  }

  .skill-list {
    grid-template-columns: repeat(8, 1fr);
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  html {
    font-size: 20px;
  }
  .skill-card {
    padding: 1rem;
  }
  .project-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .project-card {
  max-width: 100%;
  max-height: 100%;
  padding: 1rem;
  border-radius: var(--border-radius);

  display: table;
  padding-inline: 1em;
  width: 100%;
  height: 100%;
}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
