:root {
  --bg-gradient: linear-gradient(90deg, #adf1ff 0%, #c3b7ff 100%);
  --text-gradient: linear-gradient(90deg, #3dd6f4 0%, #917ff5 100%);
  --card-opacity: 0.65;
  --border-radius: 12px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  width: 5px;
  background: var(--text-gradient);
  border-radius: 10px;
  margin-right: 2px;
}

html {
  font-size: 16px;
  font-weight: 400;
  font-family: 'DM Sans', sans-serif;
  display: block;
  scroll-behavior: smooth;
}

body {
  background: var(--bg-gradient);
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

header {
  margin: 1.5rem 3rem;
}

nav {
  width: 100%;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav > * {
  text-align: center;
  font: inherit;
  padding: 0.75rem;
  border-radius: var(--border-radius);
  font-weight: 500;
}

main > section {
  width: 100%;
  overflow: hidden;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 0 1.5rem 2.5rem 1.5rem;
} 

p {
  line-height: 130%;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

#name {
  font-size: 2.75rem;
  background: var(--text-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-size: 1.75rem;
  font-weight: 500;
}

h3 {
  font-weight: 500;
}

img {
  object-fit: contain;
}

.profile-img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
  border: 12px solid transparent;
  box-shadow: 0 8px 30px 0 rgba(87, 41, 132, 0.15);

  background:
    var(--bg-gradient) padding-box,
    var(--bg-gradient) border-box;
}

#intro-container {
  padding: 1.5rem;
  border-radius: calc(var(--border-radius) * 2);
}

#intro-container,
#intro-text-container {
  display: flex;
  flex-flow: column-reverse nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#intro-text-container{
  flex-flow: column nowrap;
  text-align: center;
}

.skill-list,
.project-list,
.contact-list,
.process-list {
  display: grid;
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
}

.skill-list {
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.75rem;
}

.skill-card {
  max-width: 6rem;
  max-height: 100%;
  padding: 0.75rem;
  aspect-ratio: 1/1;
  border-radius: var(--border-radius);

  display: flex;
  align-items: center;
  justify-content: center;
}

.skill-card img {
  max-width: 100%;
  max-height: 100%;
  object-position: center;
  aspect-ratio: 1/1;
}

.project-list {
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
}

.project-card:hover {
  transform: scale(1.03);
  filter: brightness(1.05);
  transition: transform 0.1s ease-in-out, filter 0.1s ease-in-out;
  background: rgba(255, 255, 255, 0.95);
}

.project-card {
  max-width: 100%;
  max-height: 100%;
  padding: 1rem;
  border-radius: calc(var(--border-radius) * 2);

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.project-card img {
  max-width: 100%;
  max-height: 100%;
  object-position: center;
  border: 7px solid transparent;
  background:
    var(--bg-gradient) padding-box,
    var(--bg-gradient) border-box;
  border-radius: var(--border-radius); 
  overflow: hidden;
}

.project-card h3,
.project-card p {
  text-align: center;
  margin-top: 1rem;
}

.project-card ul {
  margin: 1rem;
  margin-top: 1.5rem;
}

.project-links {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 0.75em;
}

.project-links a {
  border-radius: var(--border-radius);
  padding: 0.25em 0.75em;

  background: rgba(195, 183, 255, var(--card-opacity));
  backdrop-filter: blur(10px);
  border: 0.5px solid rgba(195, 183, 255, 0.25);
}

.glass {
  background: rgba(255, 255, 255, var(--card-opacity));
  backdrop-filter: blur(10px);
  border: 0.25px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 30px 0 rgba(87, 41, 132, 0.15);
}

.contact-list {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
}

.contact-card {
  border-radius: var(--border-radius);
  padding: 1em;
}

.contact-card a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.contact-card a:hover {
  background: var(--text-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer {
  padding-bottom: 2rem;
}

.services {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  text-align: center;
  margin: 1.5rem 3rem;
}

.services p a {
  font-weight: 700;
  text-decoration: underline;
}

.process-list {
  width: 100%;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
}

.process-card {
  padding: 1rem;
  border-radius: var(--border-radius);

  display: table;
  width: 100%;
  height: 100%;
  align-items: center;
  text-align: center;
  vertical-align: middle;
}

.process-card i {
  display: flex;
  justify-content: center;
  align-items: center;
}

.process-card > * {
  padding: 0.25em 0;
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width: 480px) {
  #intro-img-container {
    padding: 1.25rem 3.5rem 0 3.5rem;
  }

  .contact-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (min-width : 600px) {
  main > section {
    padding: 0 3rem 2.5rem 3rem;
  }

  .project-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .project-card {
    display: table;
    width: 100%;
    height: 100%;
  }

  .contact-list {
    grid-template-columns: repeat(4, 1fr);
  }

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  nav {
    justify-content: flex-end;
  }

  nav > * {
    text-align: center;
    font: inherit;
    border-radius: var(--border-radius);
    font-weight: 500;
  }

  #intro-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    gap: 1.5rem;
  }

  #intro-text-container {
    flex-basis: 45%;
    justify-content: flex-start;
  }

  #intro-img-container {
    flex-basis: 40%;
    padding: 0;
  }

  .skill-list {
    grid-template-columns: repeat(8, 1fr);
  }

  .process-list {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  html {
    font-size: 18px;
  }

  main > section {
    padding: 0 3.75rem 2.5rem 3.75rem;
  }

  #intro-container {
    padding: 1rem 2rem;
  }

  #intro-text-container {
    flex-basis: 50%;
    justify-content: flex-start;
  }

  #intro-img-container {
    flex-basis: 30%;
  }

  .skill-card {
    padding: 1rem;
  }

  .project-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Large Devices */
@media only screen and (min-width: 1200px) {
  html {
    font-size: 20px;
  }

  main > section {
    padding: 0 5rem 2.5rem 5rem;
  }

  #intro-container {
    padding: 3rem;
  }

  header {
    margin: 1.5rem 5rem;
  }

  .process-list {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
  }

}

/* Larger Devices */
@media only screen and (min-width: 1500px) {
  html {
    font-size: 24px;
  }

}

/* XL Devices */
@media only screen and (min-width: 2000px) {
  html {
    font-size: 32px;
  }
}

